html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f7fa;
    font-family: 'Oxygen', sans-serif !important;

}

* {
    box-sizing: border-box;
}

.main-container {
    width: 80%;
    margin: auto;
    padding: 100px 0;
    overflow: auto;
}

.contain {
    width: 25%;
    float: left;
    padding: 10px;

}

.all:hover {
    position: relative;
    bottom: 15px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .15);
}

.green:hover {
    border-top: 5px solid #a4c639;
}

.grey:hover {
    border-top: 5px solid #999999;
}

.blue:hover {
    border-top: 5px solid #00adef;
}

.client-container {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 30px 30px 20px;
}

.content-h3 {
    padding: 12px 0;
    color: #222629;
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    margin: 0;
}

img {
    height: 100px;
}

.content-p {
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
}

.sec-container{
    width: 50%;
    margin: auto;
}

.gallary{
    
}
